html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #00467F;
  background: -webkit-linear-gradient(to right, #A5CC82, #00467F);
  background: linear-gradient(to right, #A5CC82, #00467F);

}

.prev{
  transform: rotate(180deg);
}

.prev:hover{
  background-color: #A5CC82;
}

.next:hover{
  background-color: #00467F;
}

.btn{
  height: 40px;
  background-color: rgba(123, 142, 150, 0.4);
  border-radius: 50%;
  object-fit: contain;
}

.currentImage{
  border-radius: 10px;
  height: 600px;
}