.Content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.box{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
}

.square{
    height: 8rem;
    width: 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
}