@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  height: 100vh;
}

#root{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EFF5FBFF;
  flex-direction: column;
  gap: 3rem;
  font-weight: 500;
}

li{
  font-weight: 600;
}

.MainContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

input[type="text"], input[type="email"]{
  margin-left: 1rem;
  width: 22rem;
  height: 1.5rem;
  /* border-radius: 5px; */
  background: #EFF5FBFF;
  border: none;
}

button{
  background: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.record{
  background: #fff;
  width: 30rem;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.record > ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.record > ul > :nth-child(2){
  color: rgba(0, 0, 255, 0.468);
  font-weight: 400;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background: #FFFFFF;
  padding: 2rem;
  border-radius: 5px;
}