html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  height: 100vh;
  background: linear-gradient(180deg, rgba(86,129,212,0.5136905103838411) 0%, rgba(86,129,212,1) 50%, rgba(232,221,221,1) 50%, rgba(232,221,221,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"]{
  border: none;
  border-bottom: solid 2px rgba(86,129,212);
  height: 3rem;
  font-size: 20px;
  width: 30rem;
  border-radius: 5px;
  padding-left: 1rem;
}

input[type="text"]:focus{
  outline: none;
}

#root{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 39.2rem;
  background: #079d9877;
  box-shadow: 0 0 5px #079d98;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  padding: .8rem 2rem;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

.title{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 40px;
  color: rgb(31, 39, 65);
}

.outputfield{
  width: 100%;
  min-height: 20rem;
  background: #079d98;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

.outputfield > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.outputfield > ul > li{
  display: block;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

svg:hover{
  color: #e87f7f;
  scale: 2.5;
  padding: 4px;
}