.card{
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

.coverImg{
    height: 10rem;
    width: 5rem;
    overflow: hidden;
    flex: 1;

    .cImg{
        height: 100%;
        width: 100%;
        border-radius:8px ;
    }
}

.location{
    display: inline-block;
    margin-right: .5rem;
}


.locationUrl{
    text-decoration: none;
    color: unset;
    text-decoration: underline;
}
.information{
    width: 22rem;
    text-align: justify;
    flex: 3;

}

.fa-solid{
    color: rgba(255, 0, 0, 0.689);
}

.title{
    font-size: 24px;
    font-weight: 600;
}

.dates{
    font-weight: 600;
    margin: 8px auto;
}