@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  height: 100vh;
  padding: 2rem;
}

#root{
  height: 100vh;
}

.Container{
  display: flex;
  flex-flow: row wrap;
}

textarea{
  padding: .5rem;
}

.store{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 1rem;
}

.noteOutput{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tools{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
}

.tools > *:hover{
color: rgb(255, 0, 43);
}