.Container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 15px;

    & input{
        line-height: 1.5;
        height: 2.5rem;
        width: 13rem;
        border: none;
        border-radius: 5px;
    }
}

::placeholder{
    padding-left: 10px;
}

button{
    padding: .9rem 7rem;
    background-color: #f37474;
    border: none;
    border-radius: 5px;
    color: white;
}