@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root{
--text: #171717;
--background: #fafafa;
--primary-button: #7d7e7c;
--secondary-button: #e8e8e8;
--accent: #898b89;
--gaps : 2px;
}

#root{
  height: 39rem;
  width: 25rem;
  border-radius: 10px;
}

.display-area{
  border-radius: 10px;
  width: 100%;
  height: 6rem;
  padding: 1rem;
  background: #ffffff;
}


body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.calculator{
  height: 100%;
  min-height: 30rem;
  width: 20%;
  min-width: 20rem;
  padding: var(--gaps);
  gap: var(--gaps);
  background: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59);
  background-size: contain;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  .display-area{
    font-size: 20px;
    width: 100%;
    height: 8rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--accent);
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    flex-wrap: wrap;
    padding-bottom: 3px;
  }
}

.calculator .keypads{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: var(--gaps);

  .num{
    border: none;
    font-size: 20px;

    &:hover{
      background-color: var(--primary-button);
    }
    &:active{
      color: var(--accent);
    }
  }

  .ac,.num-eq{
    grid-column: span 2;
  }

  .num-dot{
    border-bottom-left-radius: 10px;
    color: black;
  }

  .num-eq{
    border-bottom-right-radius: 10px;
  }

}