html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  height: 100vh;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container{
  background-color: blue;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 40rem;

  & h1{
    color: white
  }
}

.wrapper{
  width: 100%;
}

.list{
  background-color: white;
  padding: 1rem;
  width: 100%;

}
.question{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.btn{
  border: 1px solid rgba(0, 0, 0, 0.496);
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.single-item{
  background-color: white;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}