.Card{
    width: 20rem;
    background-color: #1a1b21;
    margin-top: 2rem;
    border-radius: 10px;
}

.imgCard{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 1px;
}