.footer{
    margin: 10px auto;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    color: gray;
    background-color: #161619;
    border-radius: 10px;
}

.fa-brands:hover {
    color: rgb(227, 223, 223);
    scale: 1.1;
}