.Middle{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & h2{
        align-self: center;
        color: white;
        font-weight: 600;
    }

    & h4{
        align-self: center;
        color: #F3BF99;
    }

    & p{
        color: rgb(207, 202, 202);
        align-self: center;
        font-size: 12px;
    }
}

.icons{
    padding: auto 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;


    .email{
        background-color: white;
        color: rgb(25, 24, 24);
        padding: 5px 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 5px;

    }

    .linkedin{
        background-color: rgb(107, 151, 217);
        color: rgb(228, 222, 222);
        padding: 5px 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.email:hover, .linkedin:hover{
    background-color: gray;

}