html, body{
    margin: 0;
    padding: 0;
}
    
#root{
    width: 100vw;
}
.navbar{
    width: 100%;

}

.navbar ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar li{
    display: block;
    height: 100%;
    font-size: 20px;
    padding-right: 2rem;
}