html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  height: 100vh;
}

#root{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000027;
}

.container{
  height: 20rem;
  width: 40rem;
  background-color: rgba(157, 138, 243, 0.377);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.quoteA, .quoteC{
  font-size: 20px;
}