header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.list{
    display: flex;
    flex-direction: row;

}
.list li{
    list-style: none;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
}

.logo{
    display: block;
    filter: drop-shadow(6px 6px 10px black);
}