.Content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.box{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
}

.square{
    height: 5rem;
    width: 5rem;
    background-color: pink;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.square:nth-child(odd){
    background-color: #21bf73;
}

.square:nth-child(even){
    background-color: #fddb3a;
}

.square.prime{
    background-color: #fd5e53;
}

h3{
    font-size: 32px;
}