.profile{
    border-radius: 50%;
    height: 15rem;
}
.nameW{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tick{
    height: 1.5rem;
}

.skills > span{
    display: inline-block;
    margin: 5px;
    padding: 7px;
    background-color: #2acfcf;
    color: white;
    border-radius: 6px;
}