@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS Reset above */
body {
  width: 100%;
  height: 100%;
  background-color: rgba(138, 147, 148, 0.11);
}

#root{
  margin: 3rem 5rem;
  border-radius: 10px;
  padding: 1rem;;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}

#root > * {
  margin-left: 1rem;
  margin-top: 9px;
}