html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  height: 100vh;
}

#root{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.OutputField{
  padding: 4rem;
  border-radius: 5px;
  background: #da8c8c95;
}

button{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: .8rem 1rem;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
}

input{
  padding: 8px;
  border-radius: 10px;
  margin: 5px auto;
  border: 1px solid #918383;
  background-color: #87b8b8;
  box-shadow: 1px 2px 1px 2px rgb(230, 229, 229);
  outline: none;
  font-size: 16px;
}