.compo{
    border-radius: 10px;
    width: 20rem;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}

.compo.blue{
    background-color: rgb(29, 162, 169);
}

.compo.red{
    background-color: rgba(134, 20, 20, 0.748);
}

button{
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 50%;
}