@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
    background-color: rgb(35, 32, 32);
    color: rgb(238, 235, 235);
    font-family: 'Poppins', sans-serif;
}
.navbar{
    width: 99vw;
    padding: auto 2rem;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    list-style: none;
}

.navbar ul > li:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #61DBFB;
}

.navbar ul > li:last-child{
padding-right: 2rem;
font-size: 20px;
font-weight: 500;
}

.fun_facts{
    line-height: 1.5;
    font-size: 20px;
}

.fun_facts li::marker{
    color:#61DBFB;
}