@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body{
  height: 100vh;
}

#root{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type=number], input[type=text]{
  border: none;
  border-bottom: 1px solid #000;
  height: 2rem;
  width: 5rem;
  background: #0000001e;
  color: rgb(137, 2, 255);
  font-size: 20px;
  border-radius: 5px;
  padding-left: .5rem;
}

input[type=number]:focus{
  outline: none;
}

.InputFields{
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background: #00000020;
  padding: 2rem;
  border-radius: 5px;
}

.InputFields > *{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

#display{
  width: 100%;
}

.btn{
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  display: block;
  width: 100%;
  margin-left: 6rem; 
  /* brute */
}

.InputFields > * > *{
  display: flex;
  justify-content: space-between;
  align-items: center;
}